
practice1/site01/.DS_Store
practice1/site01/.DS_Store
practice1/site01/music_player/.DS_Store
practice1/site01/music_player/templates/.DS_Store
practice1/site01/music_player/templates/music_player/.DS_Store
practice1/.DS_Store
practice1/site01/.DS_Store
practice1/site01/music_player/.DS_Store
practice1/.DS_Store
.DS_Store
practice1/site01/.idea/vcs.xml
