asgiref==3.2.10
captcha==0.3
certifi==2020.12.5
chardet==4.0.0
datafilter==0.4.2
Django==3.1.2
django-email-users==1.1.0
django-filter==2.4.0
django-password-reset==2.0
django-storages==1.11.1
dropbox==11.1.0
idna==2.10
import==0.0.1
Pillow==8.0.1
ply==3.11
psycopg2==2.8.6
pytz==2020.1
requests==2.25.1
six==1.15.0
sqlparse==0.4.1
stone==3.2.1
urllib3==1.26.3
