{% load static %}
<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - Lyrics Player</title>
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Montserrat:300,400,600'><link rel="stylesheet" href="{% static '/css/musicplayer_style.css' %}">

</head>
<body>
{% for song in songs %}
<!-- partial:index.partial.html -->
<div class="player">
   <div class="left"></div>
   <div class="right">
      <div class="top">
         <a class="song" href="#">{{song.song_name}}</a>
         <a class="artist" href="#">{{song.artists}}</a>
      </div>
      <div class="bottom">
         <video controls="" _autoplay="" name="media"><source src="{% static '/poposing_mp3/bytoo-husbandNo1.mp3' %}" type="audio/mpeg"></video>
      </div>
   </div>
</div>
{% endfor %}
<!-- partial -->
<!--<script  src="{% static '/js/musicplayer_script.js' %}"></script>-->
</body>
</html>
