@charset "UTF-8";
*, *:before, *:after {
  box-sizing: border-box;
}

.queue__item:before, .queue__title, .queue__hide, .info__thumb, .info__wrapper, .info, .timeline__progress-wrapper:after, .timeline__passtime:after, .timeline__duration:after, .timeline__passtime, .timeline__duration, .timeline__progress-wrapper, .timeline, .player__item:before, .player__item i, .player__item {
  display: inline-block;
  vertical-align: middle;
}

body {
  color: #333;
}

a {
  text-decoration: none;
  color: #333;
}

.player {
  height: 48px;
  width: 100%;
  background: #f5f5f5;
  border-top: 1px solid #cecece;
  position: fixed;
  bottom: 0px;
}
.player__wrapper {
  width: fit-content;
  height: 100%;
  margin: 0 auto;
}
.player__item {
  height: 100%;
  margin-left: 10px;
}
.player__item:hover {
  cursor: pointer;
}
.player__item i.hidden {
  display: none;
}
.player__item i.select {
  color: #f50;
}
.player__item:before {
  content: "";
  height: 100%;
  width: 0;
}

.timeline {
  height: 100%;
  color: #f50;
}
.timeline__passtime, .timeline__duration {
  margin: 0 10px;
  min-width: 50px;
  text-align: center;
}
.timeline__passtime:after, .timeline__duration:after {
  content: "";
  height: 100%;
  width: 0;
}
.timeline__progress-wrapper {
  position: relative;
  width: 250px;
  height: 100%;
}
.timeline__progress-wrapper:after {
  content: "";
  height: 100%;
  width: 10px;
}
.timeline__progress-bg, .timeline__progress-bar, .timeline__progress-handle {
  position: absolute;
}
.timeline__progress-bar, .timeline__progress-bg {
  height: 2px;
  border-radius: 20px;
  margin: 0 4px;
  top: calc(50% - 1px);
}
.timeline__progress-bg {
  background: #cecece;
  width: 100%;
}
.timeline__progress-bar {
  background: #f50;
  width: 0%;
  /* 控制條 */
}
.timeline__progress-handle {
  height: 8px;
  width: 8px;
  border-radius: 8px;
  top: calc(50% - 4px);
  left: 0%;
  /* 控制條 */
}
.timeline__progress-handle:hover {
  background: #f50;
  box-shadow: 0 0 2px 2px #eee;
  cursor: pointer;
}

.volume {
  position: relative;
}
.volume__wrapper {
  height: 120px;
  width: 32px;
  position: absolute;
  bottom: 48px;
  left: -5px;
  padding-bottom: 10px;
  background: #f5f5f5;
  border: 1px solid #cecece;
  box-shadow: 0 2px 4px #cecece;
}
.volume__wrapper:before {
  content: " ";
  position: absolute;
  z-index: 20;
  bottom: -10px;
  left: calc(50% - 6px);
  border: 5px solid #f5f5f5;
  border-color: transparent transparent #f5f5f5 #f5f5f5;
  box-shadow: -3px 3px 4px rgba(0, 0, 0, 0.1);
  transform-origin: 0 0;
  transform: rotate(-45deg);
}
.volume__wrapper.hidden {
  display: none;
}
.volume__progress-bg, .volume__progress-bar, .volume__progress-handle {
  position: absolute;
}
.volume__progress-bar, .volume__progress-bg {
  width: 2px;
  border-radius: 20px;
  margin-top: 10px;
  left: 50%;
}
.volume__progress-bg {
  background: #cecece;
  height: 100px;
}
.volume__progress-bar {
  background: #f50;
  transform-origin: 2 0;
  transform: rotate(-180deg);
  bottom: 8px;
  height: 60px;
  /* 控制條 */
}
.volume__progress-handle {
  height: 8px;
  width: 8px;
  border-radius: 8px;
  bottom: 64px;
  /* 控制條 */
  left: calc(50% - 4px);
}
.volume__progress-handle:hover {
  background: #f50;
  box-shadow: 0 0 2px 2px #eee;
  cursor: pointer;
}

.info {
  font-size: 12px;
}
.info__thumb {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
.info__wrapper {
  width: 250px;
}
.info__author, .info__name {
  display: block;
  margin: 5px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.info__author {
  color: #999;
}

.queue {
  position: absolute;
  background: #f5f5f5;
}
.queue__wrapper {
  height: 360px;
  width: 480px;
  position: absolute;
  bottom: 53px;
  right: -30px;
  background: #fff;
  border: 1px solid #cecece;
  box-shadow: 0 2px 4px #cecece;
}
.queue__wrapper.hidden {
  display: none;
}
.queue__panel {
  height: 64px;
  padding: 24px 24px 0 24px;
}
.queue__title, .queue__hide {
  height: 100%;
}
.queue__title {
  width: calc(100% - 30px);
}
.queue__hide {
  width: 24px;
}
.queue__playlist {
  height: calc(100% - 64px);
  overflow-y: auto;
  overflow-x: hidden;
}
.queue__item {
  background: #f5f5f5;
  padding: 0 24px;
  height: 48px;
}
.queue__item:last-child {
  margin-bottom: 10px;
}
.queue__item:before {
  content: "";
  height: 100%;
  width: 0;
}